In [3]:
import pandas as pd

In [4]:
# Check pandas version
pd.__version__

'2.3.1'

In [5]:
# Another way to show pandas verison 
pd.show_versions()

INSTALLED VERSIONS
------------------
commit                : c888af6d0bb674932007623c0867e1fbd4bdc2c6
python                : 3.13.5
python-bits           : 64
OS                    : Darwin
OS-release            : 20.6.0
Version               : Darwin Kernel Version 20.6.0: Thu Jul  6 22:12:47 PDT 2023; root:xnu-7195.141.49.702.12~1/RELEASE_X86_64
machine               : x86_64
processor             : i386
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : None.UTF-8

pandas                : 2.3.1
numpy                 : 2.3.1
pytz                  : 2025.2
dateutil              : 2.9.0.post0
pip                   : 25.1
Cython                : None
sphinx                : None
IPython               : 9.4.0
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : None
blosc                 : None
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
html5lib              : None
hypothesis            : None
gcsfs                 : None
jinja2                : None
lxml.etree            : None
matplotlib            : None
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : 3.1.5
pandas_gbq            : None
psycopg2              : None
pymysql               : None
pyarrow               : None
pyreadstat            : None
pytest                : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : None
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
xlsxwriter            : None
zstandard             : None
tzdata                : 2025.2
qtpy                  : None
pyqt5                 : None

In [6]:
df = pd.DataFrame({'Col A':[ 1,2,3], "Col B": [4,5,6]})
df

   Col A  Col B
0      1      4
1      2      5
2      3      6

In [7]:
# Array conversion to DataFrame
import numpy as np
array = np.array([[1,2,3], [4,5,6], [7,8,9]])
array

df = pd.DataFrame(array)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
# Creating a DataFrame with random floats 
df = pd.DataFrame(np.random.rand(4,8), columns=list('ABCDEFGH'))
df

,A,B,C,D,E,F,G,H
0,0.422715,0.710801,0.350323,0.510961,0.885355,0.892594,0.774710,0.285510
1,0.078835,0.288509,0.150792,0.270003,0.083070,0.104149,0.034271,0.676717
2,0.440929,0.080958,0.042752,0.170004,0.892388,0.088114,0.453513,0.121332
3,0.712396,0.319758,0.838283,0.037974,0.792424,0.647422,0.431494,0.329584

In [9]:
# Creating a DataFrame with random integers and specific index and columns with names
df = pd.DataFrame(np.random.randint(1,11,size=(4,8))
                  ,columns=list("ABCDEFGH")
                  , index=['R1', 'R2', 'R3', 'R4'])
df

     A  B  C  D   E  F   G  H
R1  10  7  4  4   6  2  10  5
R2   5  1  7  2   8  6  10  6
R3   3  4  5  2  10  2   7  1
R4   6  1  7  9   8  4  10  8

In [ ]:
# rename columns
df

     A  B  C  D   E  F   G  H
R1  10  7  4  4   6  2  10  5
R2   5  1  7  2   8  6  10  6
R3   3  4  5  2  10  2   7  1
R4   6  1  7  9   8  4  10  8