In [ ]:
import pandas as pd

In [ ]:
# Check pandas version
pd.__version__

In [ ]:
# Another way to show pandas verison 
pd.show_versions()

In [7]:
df = pd.DataFrame({'Col A':[ 1,2,3], "Col B": [4,5,6]})
df

   Col A  Col B
0      1      4
1      2      5
2      3      6

In [ ]:
# Array conversion to DataFrame
import numpy as np
array = np.array([[1,2,3], [4,5,6], [7,8,9]])
array

df = pd.DataFrame(array)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
# Creating a DataFrame with random floats 
df = pd.DataFrame(np.random.rand(4,8), columns=list('ABCDEFGH'))
df

,A,B,C,D,E,F,G,H
0,0.762386,0.941629,0.988721,0.801642,0.578994,0.943350,0.754944,0.071304
1,0.226720,0.655668,0.221460,0.747313,0.992061,0.506919,0.758043,0.886565
2,0.903475,0.013353,0.155917,0.595879,0.424806,0.988039,0.258469,0.292726
3,0.865441,0.475529,0.020317,0.747912,0.921365,0.381116,0.801386,0.697011

In [ ]:
# Creating a DataFrame with random integers and specific index and columns with names
df = pd.DataFrame(np.random.randint(1,11,size=(4,8))
                  ,columns=list("ABCDEFGH")
                  , index=['R1', 'R2', 'R3', 'R4'])
df

     A  B  C  D  E   F  G   H
R1   8  2  1  9  5   7  1   8
R2  10  6  5  4  3   9  9  10
R3   9  3  8  5  6   4  2   7
R4   4  1  7  7  3  10  3   1